/* Top Menus CSS Start */

.fullBgColor{
    background-color: #ECECEC;
}
.topMenusItemStyle {
    font-size: 12px;
    float: right;
    text-decoration: none;
}
.topMenusItemStyle a{
    text-decoration: none;
    color: #212121;
    line-height: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.topMenusItemStyle a:hover{
    color: #f85606;
}

/* 2nd Section Contain Logo, Search box, chart and offer banner  */

.logoSearch{
    margin: 15px 0;
}
#searhBox{
    width: 90%;
    height: 45px;
    border-style: none;
    background-color: #F5F5F5;
    padding: 0 15px;
    outline:none;
    font-size: 15px;
}
#searhBox:active{
    border: none;
    outline:none;
}
#btnSearch{
    width: 60px;
    height: 45px;
    outline: none;
    border: none;
    margin-left: -4px;
    background-color: #F57224;
    color: #ffffff;
}
.add-cartX{
    font-size: 25px;
    padding-top: 5px;
}

/* vertical menue  */
.navBackground{
    background-color: #ffffff;
}
.navTextStyle{
    display: inline-block;
}
.navTextStyle a{
    color: #757575;
    font-size: 13px;
    line-height: 10px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.navItem:hover{
    color: #359FBF;
    font-size: 16px;
    transition: 200ms;
}
.sectionBackground{
    background-color: #A5D9D5;
}

/* ads area  */

.fullBodyButton{
    background-color: #F5F5F5;
}
.adsBannerArea{
    margin-top: 30px;
}

/* pupular category  */
.popularCatArea{
    margin-top: 30px;
}

.buttonBackgroundCat{
    background-color: #ffffff;
    border-radius: 30px;
    position: relative;
    width: 90%;
}
.buttonBackgroundCat:hover{
    box-shadow: 0.5px 0.5px 2px 2px #e7e5e5;
    color: #F57224;
    transition: 300ms;
}
.buttonImg{
    width: 50px;
    height: auto;
    border-radius: 20px;
    display: inline-block;
    padding-left: 10px;
    padding-top: 5px;
}
.buttonText{
    display: inline-block;
    font-size: 17px;
    padding-left: 10px;
    position: absolute;
    top: 8px;
}

/* FlashSale Section  */
.sectionTitle{
    font-size: 25px;
    color: #757575;
    font-weight: 400;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
}
.sectionBgColor{
    background-color: #ffffff;
}

.btn-sales-nowx{
    font-size: 16px;
    color: #F57224;
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
}
.timeBox{
    display: inline-block;
    border: 1px solid #f85606;
    padding: 8px 15px;
    background-color: #f85606;
    color: #ffffff;
}
#shop-btnx{
    padding: 7px 20px;
    background-color: #ffffff;
    color: #f85606;
    border: 1px solid #f85606;
}
.rowHeight{
    margin: auto;
    padding: 10px;
    
}

/* Item Style  */
.itemBosMain a{
    text-decoration: none;
}
.itemBosMain:hover{
    box-shadow: 0.5px 0.5px 2px 2px #e7e5e5;
}
.itemListBgColor{
    background-color: #ffffff;
    margin:0;
}
.itemBox img {
    width: 100%;
    height: auto;
}
.imgBoxWidth{
    width: auto;
    height: 135px;
}
.itemTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top: 6px;
    color: #212121;
}
.itemPrice{
    color: #f85606;
    font-size: 25px;
    margin: 0;
    line-height: 0;
}
.itemPrice span {
    font-size: 35px;
    padding-right: 7px;
}
.itemOfferPrice{
    margin-top: 14px;
    font-size: 12px;
    color: #212121;
}
.itemOfferPrice del{
    color: #c2bfbf;
}
/* categoory start  */

.col-bg-cat{
    background-color: #ffffff;
    margin: 0;
}
.col-bg-cat:hover{
    box-shadow: 0.5px 0.5px 5px 2px #e7e5e5;
    z-index: 1;
}
.col-bg-cat a{
    text-decoration: none;
    color: #212121;
}
.catImg{
    height: 88px;
    padding: 8px 0;
}
.bodyHeding{
    text-align: center;
}
.bTxt{
    font-size: 14px;
}

/* Just For You  */
.itemListForYou{
    background-color: #ffffff;
}
.itemMarginForYou{
    padding: 0 10px;
    padding-bottom: 10px;
}
.checked {
    color: orange;
  }
.unchecked{
    color: black;
}
.itemBoxpaddingLeft{
    padding-left: 0;
}
.rowMargintop{
    margin-top: 20px;
}

/* load More Button  */
.rowMarginXY{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.btnLoadMore{
    background: none;
    padding: 10px 50px;
    color: #f85606;
    border: 1px solid #f85606;
    width: 500px;
}
.btnLoadMore:hover{
    background-color: #f85606;
    color: #ECECEC;
}

/* footer start  */
.fullFooter{
    background-color: #2e2e54;
}
.footerColHead p{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 1px;
    margin-top: 30px;
}
.listItemStyleFooter li{
    list-style: none;
    color: #ffffff;
    font-size: 12px;
}
.qrImg img{
    border-radius: 10px;
    margin-top: 30px;
}
.qrImg{
    display: inline-block;
    float: left;
}
.darazlogo{
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 47px;
}
.darazlogo p{
    margin-top: 5px;
}
.appDownload{
    margin-top: 157px;
}
.appDownload img{
    border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
    #searhBox{
        width: 80%;
        height: 35px;
}
#btnSearch{
    width: 50px;
    height: 35px;
}
.add-cartX{
    font-size: 22px;
    text-align: left;
}
.offerHeadImage{
    width: 100%;
    height: auto;
}
.navTextStyle a{
    font-size: 11px;
}
.buttonText, .buttonImg{
    font-size: 14px;
    width: 40px;
}
}