/*whole page a kaj kore *(star dile)*/

/**{
	text-align: center;
}*/

h1,h2,h3,h4{
	text-align: left;

}

#para{
	font-size: 22px;
	color: #E51414;
	background-color: #95D815;
}

article.main{
	background-color: #15D2D4;
	border: 2px solid black;
}

.large{
	text-align: center;

}

.center{
	font-size: 40px;

}